<p><stong>Dear {{ gift.user.nickname }},</stong></p>
<p>{{ wisher.nickname }} would like to request the book of {{ gift.reset_book.title }} which you just added to Gift list. </p>
<p>Click <a
        href="{{ url_for('web.pending', _external=True) }}"> here</a> to check the shipping address.
</p>
<p>Whether you want to give it away to {{ wisher.nickname }} or not, please log in to process this request. </p>
<p>If you cannot click, you can also open this website by copying the following URL into your browser. </p>
<p>{{ url_for('web.pending', _external=True) }}</p>
<p>FreeFree Team</p>
<p>
    <small>Please do not reply to this email.</small>
</p>
