<p><stong>Dear {{ wish.user.nickname }},</stong></p>
<p>{{ gift.user.nickname }} has a gift of "{{ wish.reset_book.title }}" for you.</p>
<p>Click <a
        href="{{ url_for('web.send_drift', gid=gift.id, _external=True) }}"> here</a>
    to provide your shipping address.
    Then wait for {{ gift.user.nickname }} shipping the book to you.
</p>
<p>If you cannot click，you can also open the website by copying the following URL into your browser.</p>
<p>{{ url_for('web.send_drift', gid=gift.id, _external=True) }}</p>
<p>Yours，</p>
<p>FreeFree Team</p>
<p>
    <small>Please do not reply to this email.</small>
</p>
