{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='3rd/ui/remodal.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='3rd/ui/remodal-default-theme.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book-detail.css')}}">
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="row book-container">
        <div class="col-md-2">
            <img class="book-img" src="{{ book.image }}"/>
        </div>
        <div style="margin-left: 30px;" class="col-md-5 flex-vertical">
            <div>
                <h4>{{ book.title }}</h4>
            </div>
            <div class="description-font-margin">
                <div>
                    <span>Author:</span>
                    <span>{{ book.author }}</span>
                </div>
                <div>
                    <span>Publisher:</span>
                    <span>{{ book.publisher }}</span>
                </div>
                <div>
                    <span>PublishedDate：</span>
                    <span>{{ book.pubdate }}</span>
                </div>
                <div>
                    <span>Pages：</span>
                    <span>{{ book.pages }}</span>
                </div>
                <div>
                    <span>Retail Price：</span>
                    <span>{{ book.price }}</span>
                </div>
                <div>
                    <span>Print Type：</span>
                    <span>{{ book.binding }}</span>
                </div>
                <div>
                    <span>ISBN：</span>
                    <span id="isbn">{{ book.isbn }}</span>
                </div>
                {% if wishes.total or gifts.total %}
                    <div class="color-count">
                        <span>{{ wishes.total }} WANT / </span>
                        <span>{{ gifts.total}} HAVE</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div style="margin-top:30px;" class="row">
        {% if not has_in_gifts and not has_in_wishes %}
            <div class="col-md-1">
                <a class="btn btn-outline"
                   href="#modal">
                    Give Away!
                </a>
            </div>
            <div style="margin-left:30px;" class="col-md-1">
                <a class="btn btn-outline"
                   href="{{ url_for('web.save_to_wish', isbn=book.isbn) }}">
                    I want it!
                </a>
            </div>
        {% elif has_in_wishes %}
            <div class="col-md-3">
                <span class="bg-info">Added to Wish List</span>
            </div>
        {% else %}
            <div class="col-md-3">
                <span class="bg-info">Added to Gift List</span>
            </div>
        {% endif %}
    </div>
    <div style="margin-top: 30px;" class="row">
        <div class="col-md-2"><span class="description-title">Description</span></div>
    </div>
    <div style="margin-top:15px;" class="row">
        <div class="col-md-11">
            <p class="description-font">{{ book.summary }}</p>
        </div>
    </div>
    {% if gifts.total!= 0 and not has_in_gifts %}
        <div style="margin-top:30px;" class="row">
            <div class="col-md-3"><span class="description-title">Ask them for it!</span></div>
        </div>
        <hr style="margin-top:5px;"/>
        {% for gift in gifts.trades %}
            <div style="margin-top:30px;" class="row">
                <div class="col-md-1">
                    {{ gift.user_name }}
                </div>
                <div class="col-md-2 description-font">
                    Uploaded at {{ gift.time }}
                </div>
                <div class="col-md-2">
                    <a class="btn-normal"
                       href="{{ url_for('web.send_drift', gid=gift.id) }}">Request it</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if wishes.total != 0 and has_in_gifts %}
        <div style="margin-top:30px;" class="row">
            <div class="col-md-3"><span class="description-title">Give as a gift</span></div>
        </div>
        <hr style="margin-top:5px;"/>
        {% for wish in wishes.trades %}
            <div style="margin-top:30px;" class="row">
                <div class="col-md-1">
                    {{ wish.user_name }}
                </div>
                <div class="col-md-2 description-font">
                    Uploaded at {{ wish.time }}
                </div>
                <div class="col-md-2">
                    <a class="btn-normal"
                       href="{{ url_for('web.satisfy_wish', wid=wish.id, isbn=[book.isbn]) }}">Give away</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="remodal" data-remodal-id="modal" role="dialog"
         aria-labelledby="modal1Title" aria-describedby="modal1Desc"
         data-remodal-options="closeOnOutsideClick: false">
        <button data-remodal-action="close" class="remodal-close"
                aria-label="Close"></button>
        <div>
            <h5 class="diag-title">
                Can you confirm that you do own the book of "{{ book.title }}"？</h5>
            <p id="modal1Desc" class="description-font">
                If you wouldn't like to give away or do not own this book,
                please DON'T add it to your gift list. Thanks for your understanding.
            </p>
        </div>
        <br>
        <button data-remodal-action="confirm" class="remodal-confirm">Confirmed</button>
        <button data-remodal-action="cancel" class="remodal-cancel">No，never mind</button>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='3rd/remodal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/book-detail.js') }}"></script>
{% endblock %}