{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drift.css')}}">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div style="margin-top:100px;" class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-2">
                    <a id='nav_url' href="{{ url_for('web.index') }}">Home</a>
                </div>
            </div>
            <div class="bg-container">
                <div class="row">
                    <div class="col-md-12 text-center bg-head">
                        <span class="drift-title">Ask <span
                                class="space">{{ gifter.nickname }}</span> for it!</span>
                    </div>
                </div>
                <div style="margin-top:15px;" class="row">
                    <div class="col-md-10 col-md-offset-1 flex-vertical gifter-container">
                        <span class="sub-title-color">Book Owner Information:</span>
                        <span style="margin-top:10px; margin-bottom:10px;">{{ gifter.nickname }}</span>
                        <div><span
                                class="description-font">Beans：</span><span>{{ gifter.beans }}</span>
                        </div>
                        <div><span
                                class="description-font">Received/Sent：</span><span>{{ gifter.send_receive }}</span>
                        </div>
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <span class="main-color">This transaction will cost you 1 bean, currently you  have {{ user_beans }} beans.</span>
                    </div>
                </div>
                <form action="" method="post">
                    <div style="margin-top:20px;" class="row">
                        <div class="col-md-10 col-md-offset-1 flex-vertical input-margin">
                            <label class="sub-title-color" for="recipient_name">Recipient Name:</label>
                            <div class="row">
                                <div class="col-md-5">
                                    <input placeholder="First name   Last name" id="recipient_name"
                                           name="recipient_name"
                                           class="normal-input btn-block form-control"
                                           value="{{ form.recipient_name.data | default('', true) }}">
                                </div>
                            </div>
                            <label class="sub-title-color" for="mobile">Phone</label>
                            <div class="row">
                                <div class="col-md-5">
                                    <input placeholder="6463243720" id="mobile"
                                           name="mobile"
                                           class="normal-input btn-block form-control"
                                           value="{{ form.mobile.data | default('', true) }}">
                                </div>
                            </div>
                            <label class="sub-title-color" for="address">Shipping Address</label>
                    <textarea class="form-control" rows="3" id="address" name="address"
                              placeholder="Street number XXX ST, City, State, Zip Code">{{ form.address.data | default('',true) }}</textarea>
                            <label class="sub-title-color" for="message">Write to him/her
                                </label>
                        <textarea class="form-control" id="message" name="message"
                                  rows="4"
                                  placeholder="If you have any other requirements, please write down here.">{{ form.message.data | default('',true) }}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div style="position: relative;left:-20px;"
                             class="col-md-5 col-md-offset-4 flex-vertical text-center">
                            <input style="margin-top:12px;" type="submit"
                                   class="btn btn-big btn-block" value="Submit">
                        <span style="margin-top:15px;"
                              class="main-color">Submit your information，and please wait for {{ gifter.nickname }} shipping the book to you.</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='3rd/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/drift.js') }}"></script>
{% endblock %}