{% extends "base.html" %}
{% block head %}
    {{ super() }}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/not-enough.css')}}">
{% endblock %}
{#{% block navbar %}#}
{#    #}
{#{% endblock %}#}
{% block content %}
    <div style="margin-top:60px;" class="row">
        <div class="col-md-12 flex-vertical main-color">
            <span style="margin-bottom: 10px;" class="large-title">You don't have enough BEANs or over the limit.</span></span>
            <span>Currently you have {{ beans }} Beans</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <span class="main-color">
                Notes：You will consume 1 bean when asking for every 1 book. When you have requested 2 books, you should give 1 book first.
            </span>
        </div>
    </div>
    <div class="row">
        <div style="margin-top:50px;margin-bottom:30px;" class="col-md-3">
            <span class="description-font">You can gain the BEANs through:</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 bg">
            <span>1.  Upload Books</span>
        </div>
        <div class="col-md-9 bg-opacity">
            <span>Search for books in the searching box and add to you gift list, then you will gain 0.5 bean. Please ensure that you DO want to give away.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 bg">
            <span>2.  Give Books</span>
        </div>
        <div class="col-md-9 bg-opacity">
            <span>When you give one book successfully, you can get 1 extra bean.</span>
        </div>
    </div>
{% endblock %}